//- home과 search 화면에서 보여지게 될 비디오들의 구조를 정의해놓고 공유할 수 있는 mixin
mixin videos(video)
    //- mixin의 이름은 videos이고, video는 template(home.put, search,pug)에서 넘겨받은 파라미터이다
    div
        h4 
            a(href=`/videos/${video.id}`)=video.title 
        p=video.description
        small=video.createdAt
        ul  
            //- 반복문을 사용해 배열인 hashtags를 하나 씩 li태그에 담아 출력한다.
            each hashtag in video.hashtags 
                li=hashtag
        hr