doctype html 
//- 모든 페이지의 layout이 되는 template
html 
    head 
        link(link rel="stylesheet", href="https://unpkg.com/mvp.css")
        title #{pageTitle} | #{siteName} 
    body 
        header  
            h1=pageTitle
            //- 네비게이션
            nav 
                ul 
                    li 
                        a(href='/') Home
                    li  
                        a(href='/search') Search
                    if(loggedIn)
                        //- loggedIn이 true 일 때 = 로그인 상태일 때  실행
                        li 
                            a(href='/videos/upload') Upolad Video
                        li
                            a(href=`/users/${loggedInUser._id}`) My profile
                        li 
                            a(href='/users/edit') Edit Profile
                        li 
                            a(href='/users/logout') Logout
                    else
                        //- 로그인 상태가 아닐 때 실행
                        li 
                            a(href='/join') Join
                        li 
                            a(href='/login') Login
        main
            //- 페이지 마다 다른 화면이 보이게 될 곳
            block content 

        //- 따로 만든 footer 파일을 불러와 사용
        include partials/footer
