doctype html 
//- 모든 페이지의 layout이 되는 template
html 
    head 
        link(link rel="stylesheet", href="https://unpkg.com/mvp.css")
        title #{pageTitle} | Wetube 
    body 
        header  
            h1=pageTitle
            //- 네비게이션
            nav 
                ul 
                    li 
                        a(href='/') Home
                    li 
                        a(href='/videos/upload') Upolad Video
                    li  
                        a(href='/search') Search
                    li 
                        a(href='/join') Join
        main
            //- 페이지 마다 다른 화면이 보이게 될 곳
            block content 

        //- 따로 만든 footer 파일을 불러와 사용
        include partials/footer
