extends ../base

block content 
    if errorMessage     
        span=errorMessage
    form(method='POST')
        input(name='currentPassword', placeholder='Current Password', type='password', required)
        input(name='newPassword', placeholder='New Password', type='password', required)
        input(name='passwordConfirmation', placeholder='Password Confirmation', type='password', required)
        input(type='submit', value='Change Password')